button {
  box-sizing: border-box;
}
.button {
  display: block;
  margin: 0 auto;
}
.button {
  border-radius: 4px;
  padding: 10px 32px;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  text-align: center;
}
.button,
.button-text {
  border: none;
  font-family: inherit;
  color: white;
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-text:hover,
.button-text:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #188ce8;

  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
}

.button-text-examples {
  font-family: inherit;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-text-examples:hover,
.button-text-examples:focus {
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-examples-item {
  display: block;
}

.button-examples-item:not(:last-child) {
  margin-right: 8px;
}
.button-text-examples {
  padding: 6px 22px;
  border-radius: 4px;
  color: #212121;
  border: #f5f4fa;
}
.buttons-list,
.button-examples-item {
  display: block;
}

.button-web {
  padding: 73px 38px;
}
